
.list {
  margin-bottom: 0;
  padding-bottom: 15px;

  &.no-padding-bottom {
    padding-bottom: 0;
  }

  .list-type {
    padding: 15px 0 10px 15px;

    p {
      margin-bottom: 0;
    }
  }

  .list-item {
    list-style: none;
    position: relative;
    padding: 16px;
    margin-bottom: 0;
    background-color: $white;
    box-shadow: $boxShadow1;

    &.external-gutter {
      margin-left: 8px;
      margin-right: 8px;
    }

    &.extra-bottom-padding {
      padding-bottom: 30px;

      .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 8px;
      }
    }

    &.disabled {
      background-color: #efefef;
      color: #888;
    }

    &.no-padding {
      padding: 0;
    }

    p {
      margin-bottom: 0;
    }

    .primary-content {
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 50px;
      overflow: hidden;
    }

    .secondary-content {
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 50px;
      overflow: hidden;
    }

    .secondary-content-right {
      color: $grey800;
      font-size: 15px;
      position: absolute;
      top: 0;
      right: 0;
    }

    .tertiary-content-right  {
      font-size: 15px;
      color: $grey600;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .no-bottom-border {
    border-bottom: none;
  }
}

.fab {
  width: $fabSize;
  height: $fabSize;
  background-color: $pink500;
  color: $white;
  border-radius: $fabSize;
  border: none;
  box-shadow: $boxShadow2;
  outline: none;
  -webkit-transition: bottom ease-out 0.2s;
  transition: bottom ease-out 0.2s;
  z-index: 1000;

  &.bottom-right {
    position: fixed;
    bottom: 25px;
    right: 20px;

    &.hide-on-scroll {
      bottom: -70px;
    }
  }

  .material-icons {
    line-height: $fabSize;
  }
}