
.btn {
  border-radius: 2px;
  box-shadow: $boxShadow1;
  outline: none;
  margin-left: $buttonMargin;
  margin-right: $buttonMargin;
  height: $buttonHeight;
  padding: 0 $buttonPadding;
  line-height: $buttonHeight;

  &.full-width {
    width: 100%;
  }

  &.btn-primary {
    background-color: $lightBlue500;
    border-color: $lightBlue500;

    &:active, &:focus, &:hover {
      background-color: $lightBlue700;
      border-color: $lightBlue700;
    }
  }

  &.btn-transparent {
    background-color: $white;
    box-shadow: none;

    &:active, &:focus, &:hover {
      outline: none;
      box-shadow: none;
      background-color: darken($white, 10%);
    }
  }

  &.btn-teal {
    color: $white;
    background-color: $teal500;

    &:active, &:focus, &:hover {
      color: $white;
      outline: none;
      background-color: darken($teal500, 10%);
    }
  }

  .material-icons {
    vertical-align: middle;
  }
}



button, .btn {
  font-family: $fontFamily;
  font-size: $buttonSize;
  font-weight: $buttonWeight;
  text-transform: uppercase;
}

select, input {
  outline: none;
}

input, table, select {
  font-family: $fontFamily;
  font-size: $body1Size;
  font-weight: $body1Weight;
  line-height: 1.2;
}

.form-control {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  border-radius: 2px;
  border: none;
  box-shadow: $boxShadow1;
  -webkit-transition: box-shadow ease-out 0.2s;
  transition: box-shadow ease-out 0.2s;

  &:focus, &:active, &:hover {
    outline: none;
    box-shadow: $boxShadow2;
  }

  p {
    margin-bottom: 0;
  }
}

textarea {
  padding-left: 8px;
  padding-right: 8px;
}

.form-group {
  padding-left: 8px;
  padding-right: 8px;

  .label-separator {
    padding-left: 8px;
  }
}