
$xlargeWidth: 1200px;
$largeWidth: 992px;
$mediumWidth: 768px;
$smallWidth: 480px;
$xsmallWidth: 320px;

$columnWidth: 700px;
$navbarHeight: 56px;
$navbarHeightExtra: 106px;

$h1: 30px;
$h2: 24px;
$fontSize: 16px;
$fontWeight: 300;
$fontFamily: Roboto, sans-serif;
$padding: 15px;
$blurAmount: 15px;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$globalBackgroundColor: $grey200;
$display4Size: calc(112px + 1px);
$display4Weight: $light;
$display3Size: calc(56px + 1px);
$display3Weight: $regular;
$display2Size: calc(45px + 1px);
$display2Weight: $regular;
$display1Size: calc(34px + 1px);
$display1Weight: $regular;
$headlineSize: calc(24px + 1px);
$headlineWeight: $regular;
$titleSize: calc(20px + 0px);
$titleWeight: $medium;
$subheadingSize: calc(16px + 1px);
$subheadingWeight: $regular;
$body2Size: calc(14px + 1px);
$body2Weight: $medium;
$body1Size: calc(14px + 1px);
$body1Weight: $regular;
$captionSize: calc(12px + 1px);
$captionWeight: $bold;
$buttonSize: calc(14px + 1px);
$buttonWeight: $medium;

$boxShadow1: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
$boxShadowInset1: inset 0 1px 1.5px 0 rgba(0,0,0,.12), inset 0 1px 1px 0 rgba(0,0,0,.24);
$boxShadow2: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
$boxShadow3: 0 10px 10px 0 rgba(0,0,0,.19), 0 6px 3px 0 rgba(0,0,0,.23);
$boxShadow4: 0 14px 14px 0 rgba(0,0,0,.25), 0 10px 5px 0 rgba(0,0,0,.22);
$boxShadow5: 0 19px 19px 0 rgba(0,0,0,.3), 0 15px 6px 0 rgba(0,0,0,.22);

$buttonPadding: 10px;
$buttonHeight: 36px;
$buttonMargin: 4px;

$fabSize: 60px;