<div class="container">
    <h1 class="font-title">Hello <span ng-bind="ctrl.name"></span></h1>

    <button ng-click="ctrl.go('login')" type="button" class="btn btn-primary">Login</button>

    <div class="font-caption label-separator teal-500">List</div>

    <div class="list">
        <div class="list-item">
            Test1
            <a href class="btn btn-primary"><i class="material-icons">face</i> Icone</a>
            <button ng-click="ctrl.go('login')" type="button" class="btn btn-primary"><i class="material-icons">face</i> <span>Icone</span></button>
        </div>
        <div class="list-item">tsqzd</div>
        <div class="list-item">zd</div>
        <div class="list-item">qzd</div>
    </div>
</div>

<button class="fab bottom-right">
    <i class="material-icons md-36">add</i>
</button>